*{
  color: #fff;
}



.container {
  margin: 20px;
  padding: 5px;
  background-image: url( IMAGES/cyber-padlock.png );
  background-repeat: no-repeat;
  background-clip: center;
  background-attachment: fixed;
  opacity: 1.5px;
  color: #fff;
  font-size: 1rem;
  box-shadow: inset 2px 3px 2px 3px #fff;
  border-radius: 20px;
}

.contact-icon {
  margin: 3px;
  padding: 3px;
  border-radius: 50px;
  background: transparent;
  box-shadow: 1px 2px 1px 2px purple;
  
}

.web-dev-header {
  text-align: center;
  margin: 7px;
  color: #fff;
  background: purple;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
}

.icons {
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap:10px;
  gap: 5px;
  column-gap: 5px;
  text-overflow:ellipsis;
  opacity: 1.5;
}


.web-dev-img {
   box-shadow: 2px 2px 3px 3px  purple ;
}



.design-img2 {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

  .img-contact {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px purple;
    background: transparent;
  }
  
  .contact-text {
    padding: 2px;
    margin: 2px;
    text-align: center;
    color:#fff;
  }
  
  .contact-btns {
    margin: 10px;
    padding: 15px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 60px;
  }
  
  
